body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  color: #fefefe;
}
.image {
  width: 100vw;
  height: 100vh;
  background-image: url(5586536.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  z-index: -2;
}
.image::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
.nav-bar {
  height: 60px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  padding: 10px;
  font-size: 2rem;
  letter-spacing: 10px;
}
.logo i {
  margin: 0 10px 0 0;
}
.title {
  display: flex;
  justify-content: center;
}
.title .title-content {
  color: #fefefe;
  padding: 15px 25px;
  margin: 30px auto;
  border-radius: 10px;
  text-align: center;
}
.input-field {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.input-field input {
  padding: 8px;
  outline: none;
  border-radius: 10px;
  font-size: 1rem;
  letter-spacing: 0.9px;
  width: 70%;
  height: 25px;
}
.input-field input::placeholder {
  font-size: 0.8rem;
  color: #888;
}
.btns {
  width: 30%;
  display: flex;
  gap: 2px;
}
.btn {
  height: 43px;
  border-radius: 10px;
  width: 95%;
  font-weight: 700;
  cursor: pointer;
  color: white;
}
.btn-again,
.btn-play {
  background-color: #235d9b;
  color: #fff;
}
.btn-give-up {
  background: transparent;
}
.btn-play {
  width: 100px;
  height: 50px;
}
.answers-table {
  width: 85%;
  margin: 20px auto;
  max-width: 800px;
}
.quizly-answer-row {
  display: flex;
  gap: 3px;
}
.quizly-answer-column {
  border: 2px solid black;
  display: flex;
  width: 50%;
  margin: 3px;
  height: 35px;
  border-radius: 8px;
  font-weight: bold;
}
.quizly-answer-total-goals {
  background-color: #235d9b;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px 0 0 8px;
  border-right: 1px solid black;
  font-size: 0.9rem;
}
.quizly-answer-player-name {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #dedede;
  color: #000;
  width: 50%;
  border-radius: 0 8px 8px 0;
  font-size: 14px;
}
.show {
  display: block;
}
.hide {
  display: none;
}
@media screen and (max-width: 800px) {
  .quizly-answer-row {
    flex-direction: column;
    align-items: center;
  }
  .input-field {
    flex-direction: column;
  }
  .input-field .btns {
    justify-content: space-between;
    max-width: 70%;
    width: 300px;
  }
  .btn {
    width: 110px;
  }
  .quizly-answer-column {
    width: 70%;
  }
  .quizly-answer-total-goals {
    width: 40%;
  }
}
